<div class="content">
  {{#if icon}}<i class="lavo-icon-{{icon}} icon"></i>{{/if}}
  {{#if label}}
    {{label}}
  {{else}}
    {{yield}}
  {{/if}}
</div>
<div class="ui checkbox {{if isActive "checked"}}">
  <i class="lavo-icon-tick icon"></i>
</div>
